@model SimpleBlog.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}

<p>
    <!-- // notice the capital M in @Model - this is a special type we can pass in data for in AuthController.cs View -->
    The value of test in our model, in: @Model.Test
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    
    <div>
        <input type="submit" value="Login" />
    </div>
}

